@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://db.onlinewebfonts.com/c/d22ae5d7d54f77cea2dcd18ced5efd9a?family=VAGRoundedLTCYR-Black);

@font-face {
  font-family: "VAGRoundedLTCYR-Black";
  src: url("https://db.onlinewebfonts.com/t/d22ae5d7d54f77cea2dcd18ced5efd9a.eot");
  src: url("https://db.onlinewebfonts.com/t/d22ae5d7d54f77cea2dcd18ced5efd9a.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/d22ae5d7d54f77cea2dcd18ced5efd9a.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/d22ae5d7d54f77cea2dcd18ced5efd9a.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/d22ae5d7d54f77cea2dcd18ced5efd9a.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/d22ae5d7d54f77cea2dcd18ced5efd9a.svg#VAGRoundedLTCYR-Black")format("svg");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "VAGRoundedLTCYR-Black";    
    scroll-behavior: smooth;
  }


  .bg-vepe {
    background-image: url("../public/bg-vepe.png");
    background-size: cover;
    width: full;
    object: relative;
  }

  .vepe-icons {
    background-image: url("../public/vepe-icons.png");
    background-size: cover;
    width: full;
  }

  .bg-rocket {
    background-image: url("../public/bg-rocket.png");
    background-size: cover;
    width: full;
  }
  
  .background {
    background-image: url("../public/background.png");
    background-size: cover;
    width: full;
  }
  
  .bg-hero {
    background-image: url("../public/bg-hero.png");
    background-size: cover;
    width: full;
  }

  .gradient1 {
      background-image: #5FCB31;
  },

  .gradient2 {
    background-image: '#00000';
  },


  .connectBtn {
    width: 100%!important;
    background: white!important;
  }   

  @media screen and (max-width: 1200px) {
  }

@media screen and (max-width: 720px) {

}